@import "https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css";
@import "https://fonts.googleapis.com";
@import "https://fonts.gstatic.com";
@import "https://fonts.googleapis.com/css2?family=Inter&family=Readex+Pro&display=swap";
@import "bootstrap.css";
@import "owl.carousel.css";
@import "owl.theme.default.css";
@import "scss/header";
@import "scss/main.page";;
@import "scss/latest_offers";
@import "scss/most_selled";
@import "scss/see_the_best";
@import "scss/Ideas";
@import "scss/looking_more";
@import "scss/footer";

$main_font: 'Readex Pro', sans-serif;
$secondary_font: 'Inter', sans-serif;
$background_main: #DCE5E2;
$white: #F5F5F5;
$black: #000000;

@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}

@mixin landscape {
  @media (orientation: landscape) {
    @content;
  }
}



