@import "https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css";
@import "https://fonts.googleapis.com";
@import "https://fonts.gstatic.com";
@import "https://fonts.googleapis.com/css2?family=Inter&family=Readex+Pro&display=swap";
@import url(bootstrap.css);
@import url(owl.carousel.css);
@import url(owl.theme.default.css);
header {
  padding-top: 31px;
  padding-bottom: 57px; }
  header i {
    color: black; }
  header .support {
    margin-right: 190px; }
  header .main_group {
    margin-left: 285px; }
  @media screen and (max-width: 412px) {
    header .navbar-collapse {
      position: relative;
      right: 284px; } }
  header .a {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #000000; }

.main_page .container {
  background-color: #DCE5E2;
  border-radius: 32px; }
.main_page .row {
  margin-left: 10px; }
.main_page h1 {
  margin-top: 145px;
  padding-bottom: 19px;
  font-family: 'Readex Pro', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 58px;
  line-height: 70px;
  color: #000000; }
.main_page h2 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  padding-bottom: 30px; }
.main_page .btn {
  width: 170px;
  height: 50px;
  border: 1px solid #000000;
  border-radius: 200px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-transform: capitalize;
  color: #000000; }

.owl-nav .owl-prev:after {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 24px;
  content: "\f053";
  color: black;
  position: absolute;
  bottom: 240px; }

.owl-nav .owl-next:after {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 24px;
  content: "\f054";
  color: black;
  position: absolute;
  bottom: 240px;
  left: 1070px; }
  @media screen and (max-width: 428px) {
    .owl-nav .owl-next:after {
      position: absolute;
      bottom: 240px;
      left: 380px; } }

.owl-dots {
  position: relative;
  left: 100px; }
  @media screen and (max-width: 990px) {
    .owl-dots {
      display: none; } }

.owl-dot span {
  display: inline-block;
  width: 194px;
  height: 2px;
  background-color: black;
  border-radius: 0;
  margin: 40px; }

.owl-dot.active span {
  background: cornflowerblue !important; }

.latest_offers {
  padding-top: 75px;
  padding-bottom: 75px; }
  @media screen and (max-width: 390px) {
    .latest_offers .watches {
      max-width: 150px; } }
  @media screen and (max-width: 390px) {
    .latest_offers .double_iphones {
      margin-left: 20px;
      padding-top: 20px;
      padding-bottom: 10px; } }
  .latest_offers .card_hover :hover {
    transform: scale(0.99);
    transition: 0.5s; }

.most_selled {
  padding-bottom: 74px; }
  .most_selled h4 {
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    color: #000000;
    padding-top: 37px; }
  .most_selled img {
    display: block;
    width: 100%; }
  .most_selled p {
    padding-top: 10px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000; }
  .most_selled .content {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #4B4B4B; }
  .most_selled .btn {
    width: 170px;
    height: 50px;
    border: 1px solid #000000;
    border-radius: 200px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-transform: capitalize;
    color: #000000;
    margin-left: 90px;
    margin-bottom: 30px;
    margin-top: 30px; }

.see_best {
  padding-bottom: 74px; }
  .see_best h4 {
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 35px;
    text-align: center;
    color: #000000; }
  .see_best img {
    display: block;
    width: 100%; }
  .see_best p {
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #000000; }
  .see_best .btn {
    width: 170px;
    height: 50px;
    border: 1px solid #000000;
    border-radius: 200px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-transform: capitalize;
    color: #000000;
    margin-left: 90px;
    margin-bottom: 30px;
    margin-top: 30px; }
  .see_best .card_hover :hover {
    transform: scale(1.04);
    transition: 0.35s; }

.ideas {
  padding-top: 68px;
  padding-bottom: 134px; }
  .ideas h4 {
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    color: #000000; }
  .ideas p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    padding-bottom: 20px; }
  .ideas h5 {
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    text-align: center;
    color: #000000;
    padding-bottom: 56px; }
  .ideas a {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-transform: capitalize;
    color: #000000;
    text-decoration: none;
    border: none; }
  .ideas .arrow {
    bottom: 4px;
    left: -2px; }
  .ideas .see_all {
    margin-top: 73px; }

.looking_for_more {
  padding-bottom: 100px; }
  .looking_for_more h1 {
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    text-align: center;
    color: #000000; }
  .looking_for_more .btn {
    border-radius: 200px;
    background: #FFFFFF;
    border: 1px solid #C5C5C5;
    padding: 12px 22px 13px 22px;
    margin-right: 7px; }
    .looking_for_more .btn:hover {
      background-color: #4e555b;
      transform: scale(1.2);
      transition: 0.5s; }
  .looking_for_more i:hover {
    transform: scale(1.2);
    transition: 0.5s; }
  .looking_for_more a {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000; }
  .looking_for_more .first_line {
    margin-left: 292px; }
  @media screen and (max-width: 390px) {
    .looking_for_more .first_line {
      margin-left: 50px; }
      .looking_for_more .first_line .last_button {
        margin-left: 70px; } }
  .looking_for_more .second_line {
    margin-left: 350px; }
  @media screen and (max-width: 390px) {
    .looking_for_more .second_line {
      margin-left: 50px; }
      .looking_for_more .second_line .last_button {
        margin-left: 70px; } }
  .looking_for_more .form-control-borderless {
    border: none; }
  .looking_for_more .form-control-borderless:hover, .looking_for_more .form-control-borderless:active, .looking_for_more .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none; }
  .looking_for_more .card {
    border-radius: 100px;
    max-width: 650px;
    height: 70px;
    margin-left: 40px;
    justify-content: center; }
  .looking_for_more .form-control-lg {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    padding-bottom: 21px;
    padding-left: 26px; }

.email {
  background: #DCE5E2;
  max-width: 935px;
  height: 450px;
  border-radius: 16px; }
  .email h1 {
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    color: #000000;
    padding-top: 47px; }
  @media screen and (max-width: 428) {
    .email img {
      margin-right: 100px; } }
  .email p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000; }
  .email .form-control {
    border: 1px solid #000000;
    border-radius: 54px 0 0 54px;
    width: 285px;
    height: 50px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    padding-left: 32px;
    color: #000000 !important;
    border-right: none;
    position: relative; }
  @media screen and (max-width: 390px) {
    .email .form-control {
      margin-right: 89px; } }
  .email button {
    border: 1px solid #000000;
    width: 115px;
    height: 50px;
    background: #000000;
    border-radius: 0 200px 200px 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    overflow: hidden; }
  @media screen and (max-width: 428px) {
    .email button {
      position: relative;
      bottom: 50px;
      left: 275px; } }
  @media screen and (max-width: 390px) {
    .email button {
      position: relative;
      bottom: 50px;
      left: 241px; } }
  @media screen and (max-width: 360px) {
    .email button {
      position: relative;
      bottom: 50px;
      left: 203px; } }

footer {
  padding-top: 63px; }
  footer .webflow {
    margin-left: 783px; }
  footer .made_by {
    border-top: 2px solid #DCE5E2; }
  @media screen and (max-width: 390px) {
    footer .made_by {
      margin-left: 125px; } }
  footer p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    padding-top: 18px; }
  footer h5 {
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    color: #000000; }
  footer a {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: #000000;
    text-decoration: none !important; }
  footer li {
    padding-bottom: 14px; }
