@import "https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css";
@import "https://fonts.googleapis.com";
@import "https://fonts.gstatic.com";
@import "https://fonts.googleapis.com/css2?family=Inter&family=Readex+Pro&display=swap";
@import url(bootstrap.css);
@import url(owl.carousel.css);
@import url(owl.theme.default.css);
header {
  padding-top: 31px;
  padding-bottom: 57px; }
  header .a {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #000000; }
  header .hover:hover {
    transform: scale(0.9);
    transition: 0.5s; }

.main_page .container {
  background-color: #DCE5E2;
  border-radius: 32px; }
.main_page img {
  padding-bottom: 34px; }
.main_page .row {
  margin-left: 10px; }
.main_page h1 {
  margin-top: 145px;
  padding-bottom: 19px;
  font-family: 'Readex Pro', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 55px;
  line-height: 70px;
  color: #000000; }
.main_page h2 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  color: #000000;
  padding-bottom: 30px; }
@media screen and (max-width: 360px) {
  .main_page h2 {
    margin-right: 6px; } }
.main_page .btn {
  width: 170px;
  height: 50px;
  border: 1px solid #000000;
  border-radius: 200px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-transform: capitalize;
  color: #000000; }
  .main_page .btn:hover {
    background-color: white;
    transition: 0.5s; }
.main_page .owl-nav .owl-prev:after {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 24px;
  content: "\f053";
  color: black;
  position: absolute;
  bottom: 45%;
  z-index: 3; }
.main_page .owl-nav .owl-next:after {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 24px;
  content: "\f054";
  color: black;
  position: absolute;
  bottom: 45%;
  left: 95%;
  z-index: 3; }
@media screen and (max-width: 320px) {
  .main_page .owl-nav .owl-next:after {
    left: 90%; } }
.main_page .owl-dots {
  position: absolute;
  bottom: 1%;
  left: 15%; }
@media screen and (max-width: 990px) {
  .main_page .owl-dots {
    display: none; } }
.main_page .owl-dot span {
  display: inline-block;
  width: 194px;
  height: 2px;
  background-color: black;
  border-radius: 0;
  margin-left: 40px; }
.main_page .owl-dot.active span {
  background: cornflowerblue !important; }

.latest_offers {
  padding-top: 75px;
  padding-bottom: 75px; }
  .latest_offers h2 {
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    color: #000000; }
  .latest_offers .lorem_paragraph {
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    max-width: 628px; }
  .latest_offers h4 {
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #000000; }
  .latest_offers p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    color: #000000; }
  @media screen and (max-width: 428px) {
    .latest_offers .watches img {
      max-width: 177px; } }
  .latest_offers .card_hover :hover {
    transform: scale(0.99);
    transition: 0.5s; }

@media screen and (max-width: 428px) {
  .shadow-lg {
    box-shadow: none !important; } }

.most_selled {
  padding-bottom: 74px; }
  .most_selled h4 {
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    color: #000000;
    padding-top: 37px; }
  .most_selled img {
    display: block;
    width: 100%; }
  .most_selled p {
    padding-top: 10px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000; }
  .most_selled .content {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #4B4B4B; }
  .most_selled .btn {
    width: 170px;
    height: 50px;
    border: 1px solid #000000;
    border-radius: 200px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-transform: capitalize;
    color: #000000;
    margin-left: 90px;
    margin-bottom: 30px;
    margin-top: 30px; }

.see_the_best h4 {
  font-family: 'Readex Pro', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 35px;
  color: #000000; }
.see_the_best p {
  font-family: 'Readex Pro', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #000000; }
.see_the_best .btn {
  width: 170px;
  height: 50px;
  border: 1px solid #000000;
  border-radius: 200px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-transform: capitalize;
  color: #000000;
  margin-bottom: 30px;
  margin-top: 30px;
  padding: 14px; }
.see_the_best .card {
  background: #F8F9FA;
  border-radius: 16px; }
.see_the_best .card_hover :hover {
  transform: scale(1.04);
  transition: 0.35s; }

.ideas {
  padding-top: 68px;
  padding-bottom: 75px; }
  .ideas h4 {
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    color: #000000; }
  .ideas p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    padding-bottom: 20px; }
  .ideas h5 {
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    text-align: center;
    color: #000000;
    padding-bottom: 56px; }
  .ideas a {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-transform: capitalize;
    color: #000000;
    text-decoration: none;
    border: none;
    padding: 12px 22px; }
  .ideas .arrow {
    bottom: 4px;
    left: -2px; }
  .ideas .see_all {
    margin-top: 73px; }

.looking_for_more {
  padding-bottom: 100px; }
  .looking_for_more h1 {
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    text-align: center;
    color: #000000;
    margin-bottom: 24px; }
  .looking_for_more .btn {
    border-radius: 200px;
    background: #FFFFFF;
    padding: 12px 22px 13px 22px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000; }
    .looking_for_more .btn:hover {
      background-color: white;
      transform: scale(1.2);
      transition: 0.5s; }
  .looking_for_more i {
    padding-bottom: 17px; }
    .looking_for_more i:hover {
      transform: scale(1.2);
      transition: 0.5s; }
  .looking_for_more .form-control-borderless {
    border: none; }
  .looking_for_more .form-control-borderless:hover, .looking_for_more .form-control-borderless:active, .looking_for_more .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none; }
  .looking_for_more .card {
    border-radius: 100px;
    max-width: 650px;
    height: 70px;
    margin-left: 40px;
    justify-content: center; }
  .looking_for_more .form-control-lg {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    padding-bottom: 21px;
    padding-left: 26px; }

.email {
  background: #DCE5E2;
  max-width: 935px;
  border-radius: 16px;
  padding-bottom: 43px; }
  .email h1 {
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    color: #000000;
    padding-top: 47px; }
  @media screen and (max-width: 428) {
    .email img {
      margin-right: 100px; } }
  .email p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000; }
  .email .form-control {
    border: 1px solid #000000;
    border-radius: 54px 0 0 54px;
    max-width: 285px;
    height: 50px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    padding-left: 32px;
    color: #000000 !important;
    border-right: none;
    position: relative; }
  .email button {
    border: 1px solid #000000;
    width: 115px;
    height: 50px;
    background: #000000;
    border-radius: 0 200px 200px 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    overflow: hidden; }

footer {
  padding-top: 63px; }
  footer .developers .web {
    position: relative;
    bottom: 58px; }
  @media screen and (max-width: 390px) {
    footer .developers .web {
      bottom: 25px;
      right: 21%; } }
  @media screen and (max-width: 390px) {
    footer .developers .made {
      justify-content: center; } }
  footer .line {
    border-top: 2px solid #DCE5E2; }
  footer p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
    padding-top: 18px; }
  footer h5 {
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    color: #000000; }
  @media screen and (max-width: 992px) {
    footer h5 {
      font-weight: bolder;
      font-size: 15px; } }
  footer a {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: #000000;
    text-decoration: none !important; }
  footer li {
    padding-bottom: 14px; }
  footer .readex {
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000; }
  footer .inter {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000; }
