$main_font: 'Readex Pro', sans-serif;
$secondary_font: 'Inter', sans-serif;
$background_main: #DCE5E2;
$white: #F5F5F5;
$black: #000000;

@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}

@mixin landscape {
  @media (orientation: landscape) {
    @content;
  }
}

header{
  padding-top: 31px;
  padding-bottom: 57px;
  i{
    color: black;
  }
  .support{
    margin-right: 190px;
  }
  .main_group{
    margin-left: 285px;
  }
  .navbar-collapse {
    @include max-screen(412px) {
      position: relative;
      right: 284px;
    }
  }
  .a{
    font-family: $secondary_font;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #000000;
  }
  }













