$main_font: 'Readex Pro', sans-serif;
$secondary_font: 'Inter', sans-serif;
$background_main: #DCE5E2;
$white: #F5F5F5;
$black: #000000;

@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}

header {
  padding-top: 31px;
  padding-bottom: 57px;

  .a {
    font-family: $secondary_font;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #000000;
  }

  .hover {
    &:hover {
      transform: scale(0.9);
      transition: 0.5s;
    }
  }

  .navbar-toggler {
    @include max-screen(280px) {
      margin-top: -24px;
      margin-left: 180px;
    }
  }
}
















