.firm_style {
  padding-top: 68px;
  padding-bottom: 134px; }

.firm_style h4 {
  font-family: '20 Kopeek Book';
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 110%;
  color: #181818; }

.firm_style p {
  font-family: '20 Kopeek';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #181818; }
