$main_font: 'Readex Pro', sans-serif;
$secondary_font: 'Inter', sans-serif;
$background_main: #DCE5E2;
$white: #F5F5F5;
$black: #000000;

@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}

.latest_offers {
  padding-top: 75px;
  padding-bottom: 75px;

  h2 {
    font-family: $main_font;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    color: #000000;
  }

  .lorem_paragraph {
    font-family: $main_font;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    max-width: 628px;
  }

  h4 {
    font-family: $main_font;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #000000;
    @include max-screen(280px) {
      font-size: 27px;
    }
  }

  p {
    font-family: $secondary_font;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    color: #000000;
  }

  .watches {
    @include max-screen(428px) {
      max-width: 396px;
      padding-top: 5px;
    }
    @include max-screen(280px) {
      max-width: 248px;
      padding-top: 10px;
    }
  }

  .card_hover :hover {
    transform: scale(0.99);
    transition: 0.50s;
  }
}

.shadow-lg {
  @include max-screen(428px) {
    box-shadow: none !important;
  }
}



