$main_font: 'Readex Pro', sans-serif;
$secondary_font: 'Inter', sans-serif;
$background_main: #DCE5E2;
$white: #F5F5F5;
$black: #000000;

.latest_offers{
  padding-top: 75px;
  padding-bottom: 75px;
}

