$main_font: 'Readex Pro', sans-serif;
$secondary_font: 'Inter', sans-serif;
$background_main: #DCE5E2;
$white: #F5F5F5;
$black: #000000;

@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}

@mixin landscape {
  @media (orientation: landscape) {
    @content;
  }
}

.latest_offers {
  .watches {
    img {
      @include max-screen(428px) {
        max-width: 340px;
      }
    }

    @include max-screen(375px) {
      margin-left: 11px;
    }
    @include max-screen(390px) {
      max-width: 150px;
    }
    @include max-screen(428px) {
      display: flex;
    }
  }

  .double_iphones {
    @include max-screen(375px) {
      margin-right: 42px;

    }
    @include max-screen(390px) {
      margin-left: 20px;
      padding-top: 20px;
      padding-bottom: 10px;
    }
    @include max-screen(428px) {
      margin-left: 42px;
      margin-top: 5px;
    }
  }

  padding-top: 75px;
  padding-bottom: 75px;

  .card_hover :hover {
    transform: scale(0.99);
    transition: 0.50s;
  }
}


