$main_font: 'Readex Pro', sans-serif;
$secondary_font: 'Inter', sans-serif;
$background_main: #DCE5E2;
$white: #F5F5F5;
$black: #000000;

.looking_for_more {
  padding-bottom: 100px;

  h1 {
    font-family: $main_font;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    text-align: center;
    color: #000000;
    margin-bottom: 24px;
  }

  .btn {
    border-radius: 200px;
    background: #FFFFFF;
    padding: 12px 22px 13px 22px;
    font-family: $secondary_font;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;

    &:hover {
      background-color: white;
      transform: scale(1.2);
      transition: 0.50s;
    }
  }

  i:hover {
    transform: scale(1.2);
    transition: 0.50s;
  }


  .form-control-borderless {
    border: none;
  }

  .form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
  }

  .card {
    border-radius: 100px;
    max-width: 650px;
    height: 70px;
    margin-left: 40px;
    justify-content: center;
  }

  .form-control-lg {
    font-family: $secondary_font;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    padding-bottom: 21px;
    padding-left: 26px;
  }
}



