$main_font: 'Readex Pro', sans-serif;
$secondary_font: 'Inter', sans-serif;
$background_main: #DCE5E2;
$white: #F5F5F5;
$black: #000000;

@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}

@mixin landscape {
  @media (orientation: landscape) {
    @content;
  }
}

.main_page {
  .container {
    background-color: #DCE5E2;
    border-radius: 32px;

  }

  .row {
    margin-left: 10px;
  }

  h1 {
    margin-top: 145px;
    padding-bottom: 19px;
    font-family: $main_font;
    font-style: normal;
    font-weight: 400;
    font-size: 58px;
    line-height: 70px;
    color: $black;
  }

  h2 {
    font-family: $secondary_font;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: $black;
    padding-bottom: 30px;
  }

  .btn {
    width: 170px;
    height: 50px;
    border: 1px solid #000000;
    border-radius: 200px;
    font-family: $secondary_font;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-transform: capitalize;
    color: $black;
  }

  }


.owl-nav .owl-prev:after {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 24px;
  content: "\f053";
  color: black;
  position: absolute;
  bottom: 240px;

}

.owl-nav .owl-next:after {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 24px;
  content: "\f054";
  color: black;
  position: absolute;
  bottom:240px;
  left: 1070px;
  @include max-screen(428px){
   position: absolute;
    bottom:240px;
    left: 380px;
  }
}

.owl-dots {
  position: relative;
  bottom: 520px;
  left: 100px;
  @include max-screen(990px){
    display: none;}
}

  .owl-dot span {
    display: inline-block;
    width: 194px;
    height: 2px;
    background-color: black;
    border-radius: 0;
    margin: 40px;
    position: relative;
top: 500px;


  .owl-dot.active span {
    background: cornflowerblue !important;
  }
}





